body { /*referente ao corpo da pagina */
  width: 95%;
  height: 100vh auto;
  max-width: 800px;
  margin: auto;
  background-image: url(img/sala2.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  font-family: Arial, Helvetica, sans-serif;
  line-height: 1;
  color: rgb(255, 255, 255);
}

.logo img { /*referente ao logotipo */
  background-image: url(img/logotipo.jpeg);
  border-radius: 50%;
  width: 300px;
  height: 300px;
  border: 2px solid #00eeff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


main { /*referente a pagina */
  background-color: rgba(0, 0, 0, 0.527);
  padding: 5px 40px;
  margin-top: 20px;
  border-radius: 10px;
}

.logo, main { /*centralizaçao */
  text-align: center;

}

/* ... (restante do seu CSS) */

.search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.resultado {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3%;
  color: #ffffff;
}

.resultado .video1, .resultado .video2, .resultado .video3, .resultado .video4 {
  width: 5%; /* Ajustar a largura conforme necessário */
  margin-bottom: 10px;
  
}

.resultado video {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .resultado video {
    width:80%;
  }
}